<div class="container_big-card">
    <div class="big-card_photo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg"
         alt=""
         height="307px"
         srcset="">
    </div>
    <div class="big-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card_description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit id porro voluptates adipisci rem facilis, harum beatae labore blanditiis quia cumque culpa velit illo fuga aspernatur earum nobis veritatis nihil.
            </a>
        </p>
    </div>
</div>
