.container_menu-title {
    color: white;
}

.container_menu-title > h1 {
    margin: 15px 15px;
    font-size: 105px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.container_menu-title > hr {
    margin-top: 20px;
    margin-bottom: 5px;
}
